body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

:root {
  --sand-100: #f4e9dc;
  --neutral--950: #020202;
  --sand-700: #885e2b;
  --neutral--400: #8c8c8c;
  --sand-900: #2f200f;
  --sand-060: #f9f3ec;
  --sand-600: #b37b38;
  --neutral--900: #0f0f0f;
  --neutral--800: #292929;
  --neutral--300: #a6a6a6;
  --general--shadow-01: #14142b0f;
  --neutral--000: white;
  --neutral--100: #d9d9d9;
  --transparent: #fff0;
  --accent--primary-1: #020202;
  --neutral--700: #676774;
  --neutral--600: #5c5c5c;
  --neutral--500: #737373;
  --neutral--200: #bfbfbf;
  --system--green-400: #11845b;
  --green-600: #4ca177;
  --system--blue-400: #086cd9;
  --system--blue-300: #1d88fe;
  --system--blue-200: #8fc3ff;
  --system--blue-100: #eaf4ff;
  --system--green-300: #05c168;
  --green-300: #a1d3ba;
  --system--green-200: #7fdca4;
  --green-200: #c1e2d1;
  --green-100: #e0f0e8;
  --system--green-100: #def2e6;
  --red-700: #dc2b2b;
  --red-300: #ff5a65;
  --red-200: #ffbec2;
  --system--red-100: #ffeff0;
  --system--orange-400: #ffa726;
  --system--orange-300: #ffb74d;
  --system--orange-200: #ffcc80;
  --system--orange-100: #ffe0b2;
  --gold-600: #f2be00;
  --general--shadow-02: #14142b14;
  --general--shadow-03: #14142b1a;
  --general--shadow-04: #14142b24;
  --general--shadow-05: #14142b29;
  --general--shadow-06: #14142b3d;
  --button-shadow--color-01: #4a3aff0f;
  --button-shadow--color-2: #4a3aff14;
  --button-shadow--color-03: #4a3aff1f;
  --button-shadow--white-01: #14142b0a;
  --button-shadow--white-02: #14142b0f;
  --button-shadow--white-03: #14142b1a;
  --brix-color: #146ef5;
  --brix-color-1: #553ffe;
  --sand--800: #593e1c;
  --sand--400: #d3a873;
  --sand--200: #e9d4b9;
  --sand--100: #f4e9dc;
  --sand--060: #f9f3ec;
  --sand--040: #fdfaf7;
  --sand--020: #fefdfb;
  --green-400: #82c4a3;
  --green-500: #63b58c;
  --accent--primary-2: #191921;
  --lavender-600: #6667ab;
  --blue-600: #465ea4;
  --blue-200: #bfc8e4;
  --green-800: #26503b;
  --green-950: #0a150f;
  --black-opacity: #0006;
  --white-opacity: #fff6;
  --blue-100: #dfe3f1;
  --gold-400: #ffdd2a;
  --gold-300: #ffe34c;
  --gold-500: gold;
  --gold-800: #b78c00;
  --sand-950: #171007;
  --green-900: #142a1f;
  --blue-900: #111627;
  --blue-400: #7e91c8;
  --blue-050: #edf0f7;
  --sand-500: #c89250;
  --sand-080: #f6eee4;
  --neutral--050: #e6e6e6;
  --orange-700: #f57c00;
  --gold-900: #9a7200;
  --brown-900: #3e2723;
  --sand-300: #debe96;
  --image-max-h: 32px;
  --green-060: #ecf6f1;
  --sand-050: #faf5ef;
  --green-700: #397959;
  --green-080: #e6f3ed;
  --green-050: #f0f8f4;
  --green-040: #f3f9f6;
  --green-020: #f9fcfa;
  --lavender-950: #0d0d17;
  --lavender-900: #18182b;
  --lavender-800: #313159;
  --lavender-700: #484984;
  --lavender-500: #7f80b8;
  --lavender-400: #999ac7;
  --lavender-300: #b3b4d5;
  --lavender-200: #cecee4;
  --lavender-100: #e5e5f1;
  --lavender-080: #eaeaf4;
  --lavender-060: #efeff7;
  --lavender-050: #eff1f8;
  --lavender-040: #f5f5f9;
  --lavender-020: #fafafc;
  --blue-950: #090c15;
  --blue-800: #232f52;
  --blue-700: #34457a;
  --blue-500: #5e75ba;
  --blue-300: #9eacd6;
  --blue-080: #e5e9f4;
  --blue-060: #eceef7;
  --blue-040: #f2f4f9;
  --blue-020: #f9f9fc;
  --brown-050: #efebe9;
  --brown-100: #d7ccc8;
  --brown-200: #bcaaa4;
  --brown-300: #a1887f;
  --brown-400: #8d6e63;
  --brown-500: #795548;
  --brown-600: #6d4c41;
  --brown-700: #5d4037;
  --brown-800: #4e342e;
  --orange-050: #fff3e0;
  --orange-500: #ff9800;
  --orange-600: #fb8c00;
  --orange-800: #ef6c00;
  --orange-900: #e65100;
  --gold-050: #fff9df;
  --gold-100: #fff6bf;
  --gold-200: #ffed80;
  --gold-700: #d4a700;
  --gold-950: #826100;
  --black-opacity-dark: #0009;
}

/* Tone down global font weights */
body {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}